html,
body {
  padding: 0;
}

.header {
  color: red;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 15px;
}
.secondary-header {
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
}

canvas {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 5px;
  display: block;
}
